<h1>{{name}}</h1>
<dl>
  <td>Nombre: </td>
  <dd>{{name}}</dd>

  <td>Edad: </td>
  <dd>{{age}}</dd>

  <td>Método: </td>
  <dd>{{getHeroDescription()}}</dd>

  <td>Capitalizado:</td>
  <dd>{{capitalizedName}}</dd>
</dl>

<button class="btn btn-primary me-2" (click)="changeHero()" *ngIf="name != 'The Flash'">
  Cambiar Nombre
</button>

<button class="btn btn-primary me-2" (click)="changeAge()" *ngIf="age != 25">
  Cambiar Edad
</button>

<button class="btn btn-danger" (click)="resetForm()" *ngIf="name === 'The Flash' || age === 25">
  Reestablecer Valores
</button>

<hr>
